*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body{
    overflow: overlay;
    background-color: #000;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);

}


.background_video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.navbar{
    top: 0;
    position: fixed;
    width: 100% ;
    margin:auto;
    padding: 20px 0  ;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,1);
    transition: 0.5s;
    z-index: 1000;
    
}
.navbar.hide{
    transform: translateY(-100%) ;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  
::-webkit-scrollbar-track {
    background-color: transparent; 
}
   
  
::-webkit-scrollbar-thumb {
    background: rgb(44, 44, 44);
    border-radius: 5px;
}
  
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66); 
}

.logo{
    width: 100px;
    cursor:pointer;
    opacity: 0.5;
    transition: 0.5s linear;
}

.logo:hover{
    opacity: 1.0;
    transition: 0.5s;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
   

}

.navbar ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ffff;
    position: absolute;
    left: 0;
    bottom: -20px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

@media only screen and(max-width:1920px){
    .background_video{
        width: 500%;
        height: auto;
    }
}

@media only screen and(max-width:2560px){
    .background_video{
        min-width: 100%; 
        min-height: 100%; 
        width: auto;
        height: auto;


    }
}

.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    color: #ffff;
    text-shadow: 2px 2px black;
}

.content h1{
    font-size: 70px;
    margin-top:80px;
}

.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button{
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 200px;
    padding: 15px 0;
    margin:20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid yellow;
    background: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: 0.5s linear;
}

.content button:hover{
    color: #000;
    transition: 0,5s;
    border: none;
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.content button:hover span{
    width: 100%;

}

.content span{
    background: yellow;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.separador_01{
    border: 4px solid rgb(190, 164, 13);
}
.container{
    background-color: #000;
    width: 100%;
    background-image: url(./assets/Background_parent_1.jpg);
    padding: 120px 0px 120px 0px;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}
.section_1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1700px;
}

.child1 {
    width: 50%;
    height: 100vh;
    text-align: center;


}

.child2 {
    width: 50%;
}


.section_1 .child_1 h1{
    position: relative;
    font-weight: 700;
    font-size: 50px;
    -ms-overflow-style: none;
    animation: 2s ease-in-out 0s 1 slideInFromLeft;
}


hr.separator{
    border: 3px solid rgb(190, 164, 13);
    border-radius: 5px;
    width: 75%;
    position: relative;
    margin: 0 0 30px 0;
    -ms-overflow-style: none;
    animation: 2s ease-in-out 0s 1 slideInFromLeft;


}
.section_1 p{
    -ms-overflow-style: none;
    animation: 2s ease-in-out 0s 1 slideInFromLeft;
    padding: 0 0 100px 0
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }

.container_3, .container_2{
    width: 100%;
    padding: 120px 0px 120px 0px;
}
.flex_3, .flex_2{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1700px;
    
}
.pacman, .container_2 .flex_2 .child_1{
    width: 50%;
    animation: 2s ease-in-out 0s 1 slideInFromLeft;
}
.pacman h1, .container_2 .flex_2 .child_1 h1{
    color: #fff;
    position: relative;
    font-weight: 700;
    font-size: 50px;
    -ms-overflow-style: none;
}
.separator_3{
    border: 3px solid rgb(190, 164, 13);
    border-radius: 5px;
    width: 70%;
    position: relative;
    margin: 0 0 30px 0;
    -ms-overflow-style: none;
    animation: 2s ease-in-out 0s 1 slideInFromLeft;
}
.flex_3 .codigo_2, .flex_2 .child_2{
    width: 50%;
    float: right;
    animation: 2s ease-in-out 0s 1 slideInFromRight;
}
.container_2 .flex_2 .child_1 img{
    width: 70%;
}
.container_2 .flex_2 .child_1 pre{
    width: 75%;
    
}
